extends layout-signout.pug

append head

  script(src='/public/js/leave-event.js' type='module' defer)
  script(src="/public/js/helper.js" type="text/javascript" defer)
  link(rel="stylesheet" href="/public/css/dashboard.css" type="text/css")

block content
  .main-container
    .dashboard-nav
        .dashboard-links
            a.navlink(href='/dashboard') Upcoming Events
            a.navlink(href='/dashboard/hosted') Events You're Hosting
            a.navlink(href='/dashboard/account') Account Details
    .dashboard-container
        .welcome-div
            p.description-heading Welcome Home, #{user.fullName}!
            p.description-text Who are you going to meet today?
            a.button-bar(href='/events') Find another event!
            a.button-bar(href='/dashboard/hosting') Host your event!
        .events-div
            .attending-div
                p.description-heading Events you're attending:
            .events-container
                .events
                    each event in events
                        .card-event
                            img(src=event.EventType.eventCard)
                            .card-event-info        
                                .card-left-div
                                    h2 #{event.EventType.type}
                                    //- p Date: #{editDate(#{event.date})}
                                    p Time: #{event.time}
                                    p.event-id Event Size: #{event.capacity}
                                    p #{event.EventType.eventDescription}
                                h2.card-event-profile Host: #{event.host.fullName}
                                img.card-event-host.avatar-bordered(src=event.host.avatar)
                            .button-div
                                a.button(href='/events/'+ event.id) Check out the event
                                //- button(id=event.id).button.leave-button(href='/dashboard') Cancel my spot
                                a(id=event.id).button.leave-button(href='/dashboard') Cancel my spot  


