extends layout.pug

append head
  link(rel="stylesheet" href="/public/css/eventJoin.css" type="text/css")

block content
  .joinEvent-container
    .columnOne
      .joinEventInfo
        .joinEventInfo-heading
          h2 JOIN #{event.host.fullName} FOR COVID WITH STALKERS
        hr
        .joinEventInfo-info
          p #{event.date}
          p #{event.time}
          p Online Zoom
          h5 #{url}
          p Send to a friend that should  be here (especially if you can't   be here yourself!)
          hr
          h2  #{event.capacity} SEAT LEFT!
        .joinEvent-capacity
          .progress-bar
            .bar(style='width:83.3333334%')
              .barDiv
            //- each user in event.User
      .joinEventForm
      .teaTimeAbout
    .columnTwo
      .meetTheHost
      .hostBio


//- ${event.EventType.eventDescription}
//- ${event.EventType.type}
//- ${event.EventType.eventCard}
//- ${event.EventType.eventBanner}
//- ${event.description}
//- #{event.capacity}
//- ${event.host.avatar}
//- ${event.host.fullName}
