extends layout.pug

append head
  link(rel="stylesheet" href="/public/css/eventJoin3.css" type="text/css")

block content
    .joinEvent-container
      .columnOne
        .joinEventInfo
          .joinEventInfo-heading
            h2 JOIN #{event.hostId.fullName.toUpperCase()} FOR COVID WITH STALKERS
          hr
          .joinEventInfo-info
            p #{event.date}
            p #{event.time}
            p Online Zoom
            h5 #{url}
            p Send to a friend that should be here (especially if you can't be here yourself!)
            hr
            .capacityAnnouncement
            - var spotsLeft = event.capacity - users.length
              if spotsLeft > 1
                h2  #{event.capacity - 1} SEATS LEFT!
              else if spotsLeft === 1
                h2 HURRY! ONLY ONE SEAT LEFT!
              else
                h2 EVENT FULL: sorry no more spots.
        .joinEvent-capacity
          //- .progressBar
          .bar(style='width:83.3333334%')
              .hostAttending
              - var n = 2;
                while n < users.length
                  p.attendees-count= n++
                  .attendees
                while n < event.capacity
                  p.capacityBar-count= n++
                  .capacityBar
                if users.length < capacity
                  .endCapacityBarVacancy
                else
                  .atCapacity


        .joinEventForm
        .teaTimeAbout
      .columnTwo
        .meetTheHost
        .hostBio


//- ${event.EventType.eventDescription}
//- ${event.EventType.type}
//- ${event.EventType.eventCard}
//- ${event.EventType.eventBanner}
//- ${event.description}
//- #{event.capacity}
//- ${event.host.avatar}
//- ${event.host.fullName}
